@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400&display=swap');


.container{
			display: grid;
			width: 100%
			text-align: center;
			/*grid-template-columns: 300px 150px 100px;*/
			grid-template-rows: 150px 560px 0px 80px;
			grid-template-areas:
			"hd hd hd hd hd hd hd hd"
			"sd sd sd sd sd sd sd sd"
			"main main main main main main main main"
			"ft ft ft ft ft ft ft ft";
			/*"ft ft ft ft ft ft ft ft";*/
			/*border: 2px solid yellow; */
			/* justify-content: center; */
		 }

		.box{
			display: flex;
           /*align-items: center;*/
           justify-content: center; 
			border: 1px solid #D3D3D3;
			background: #Fff;
		
		}
		.header{
			grid-area: hd;
			padding-top: -50px;
			padding-bottom: -20;
			background-color: tomato;
			
		}

		.avatar{
			width: 60px;
		}


		.footer{
			grid-area: ft;
			background-color: salmon;
		}


		.sidebar{
			grid-area: sd;
		}

		.Lorem{
			padding: 10px;
			font-size:16px;
			text-align: justify;
			width:30rem;
		}

		.foots{
       	padding-top: 20px;
       	font-size: 20px;
       }
        .author{
        	font-family: 'Work Sans', sans-serif;
        	font-size: 12px;
        	line-height: 4px;
        }

        .food{
        	border: 1px solid #ddd;
        	width: 300px;
        	height:  
        	font-size: 5px;
        	padding: 3px;
        }

         @media screen and (min-width: 415px) and (max-width: 900px) {
		 .container{
			display: grid;
			width: 100%;
	        /*margin: auto;

			/*flex-direction: row;
			justify-content: center;
			border: 2px solid grey;
			align-items: center;
			/*text-align: center;*/
			/*grid-template-columns: 30px 200px;*/
			grid-template-rows: 150px 660px 0px 80px; 
			grid-template-areas:
			"hd hd hd hd hd hd hd hd"
			"sd sd sd sd sd sd sd sd"
			"main main main main main main main main"
			"ft ft ft ft ft ft ft ft";
			/*border: 2px solid yellow; */
			border: 2px solid yellow;
		}	
			.box{
			display: flex;
			width: 100%;
			/*align-items: center;*/
			justify-content: center;
			border: 1px solid red;

			/*justify-content: center; */
		  }
		}

@media screen and (max-width: 414px){
		 .container{
			display: grid;
			width: 100%;
	        /*margin: auto;

			/*flex-direction: row;
			justify-content: center;
			border: 2px solid grey;
			align-items: center;
			/*text-align: center;*/
			/*grid-template-columns: 30px 200px;*/
			grid-template-rows: 150px 660px 0px 80px; 
			grid-template-areas:
			"hd hd hd hd hd hd hd hd"
			"sd sd sd sd sd sd sd sd"
			"main main main main main main main main"
			"ft ft ft ft ft ft ft ft";
			/*border: 2px solid yellow; */
			border: 2px solid yellow;
		}	
		.box{
			display: flex;
			width: 80%;
			/*align-items: center;*/
			justify-content: center;
			border: 1px solid red;

			/*justify-content: center; */
		  }

		  .avatar-body p{
		  	font-size: 9px;
		  	width: 300px;
		  }

		}




